<!DOCTYPE html>
<html>
  <head>
    <title>OMDB FIND MOVIES</title>
  </head>
  <body>
  	<form method="post" action="/moviePush">
		<input type="text" name="movieTitle">
		<button>Save</button>
	</form>
  </body>
</html>